//Error: Source sample is missing.
.fbm {
	color: #fff;
    position: fixed;
    right: 12px;
    bottom: 10px;
    font-size: 10px;
    background: #448aff;
    text-transform: none;
    border-radius: 50%;
    padding: 15px 15px;
    z-index: 99999999;
    box-shadow: 2px 3px 7px #888888;
}

.fbm img {
	width: 25px;
}