/*DEMO*/
* {
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  position          : relative;
  padding           : 0;
  margin            : 0;
}

* ul li {
  display   : block;
  list-style: none;
}

.demo {
  padding  : 0 20px;
  margin   : 0 auto;
  display  : block;
  max-width: 100%;
}

.demo .material-input {
  margin-top: 40px;
}

.dos {
  float       : left;
  width       : calc(50% - 20px) !important;
  margin-right: 20;
}

.tres {
  float        : right;
  width        : calc(50% - 20px) !important;
  margin-right : 0;
  margin-bottom: 40px;
}

.clear {
  clear: both;
}

.send_form {
  margin-top: 20px;
}
/*INPUT*/
.material-input {
  font-size: 14px;
  color    : #ffffff;
}

.material-input .main-input,
.material-input input {
  width         : 100%;
  border        : none;
  outline       : none;
  background    : none;
  border-bottom : 1px solid #ffffff;
  padding-bottom: 10px;
  padding-top   : 10px;
}

.material-input .main-input.focus,
.material-input input.focus {
  border-color: #ffffff;
}

.material-input .placeholder {
  position          : absolute;
  top               : 0;
  left              : 0;
  -webkit-transition: all 0.3s;
  transition        : all 0.3s;
  pointer-events    : none;
}

.material-input .placeholder.focus {
  font-size: 12px;
  top      : -20px;
}

.material-input .dropdown {
  position: absolute;
  right   : 10px;
  top     : 0;
}

.material-input .dropdown-list {
  background: #ffffff;
  border    : 1px solid #ffffff;
  position  : absolute;
  top       : 100%;
  left      : 0;
  width     : 100%;
  margin-top: 0;
  z-index   : 200;
  box-shadow: 0 0 10px 0 rgba(0,0,5,0.2);
}

.material-input .dropdown-list .option {
  font-size: 12px;
  cursor   : pointer;
  padding  : 10px;
  color    : #000000;
}

.material-input .dropdown-list .option:hover {
  background: #ffffff;
}

.material-input .dropdown-list .option.active {
  background: #09f;
}

.material-select input {
  display: none;
}

.material-select .main-input {
  cursor: pointer;
  color : transparent;
}

.material-select .main-input.focus {
  color: #ffffff;
}